<app-message-alert [show]="alert.show" [msg]="alert.msg" (click)="alert.show = false"></app-message-alert>
<div class="container min-vh-100">
    <div class="row mt-5">
        <div class="col-md-9">
            <div class="row border border-dark">
                <div class="col-md-3">
                    <img src="{{jobDetails.company.logo}}" class="img-fluid">
                </div>
                <div class="col-md-9">
                    <span class="jobName">{{jobDetails.title}}</span>
                    <br>
                    <span class="pubDate">{{jobDetails.created_at | dayOrDays}}</span>
                    <br>
                    <span class="desc">{{jobDetails.description}}</span>
                </div>
            </div>
            <div class="row border border-dark mt-3">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <span>Requisitos</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li *ngFor="let item of jobDetails.requirements">
                                    {{item.key}}: {{item.value}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 border border-dark">
            <div class="row">
                <div class="col-12">
                    {{jobDetails.workday}}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{jobDetails.salary}}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{jobDetails.location}}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{jobDetails.contract_type}}
                </div>
            </div>
        </div>
    </div>
</div>