.general-info-box {
    border: 0.1rem solid gray;
    border-radius: 0.4rem;
    font-size: 1rem;
}

div#services_block {
    background-color: #ffffff;
    border-left:3px solid white;
    border-right:3px solid white;
}

.requirementKey {
    font-size: 1rem;
}

.requirementValue {
    font-size: 1rem;
}