<app-message-alert [show]="alert.show" [msg]="alert.msg" (click)="alert.show = false" [errorCode]="alert.errorCode"></app-message-alert>
<div class="container min-vh-100">
    <div class="row d-flex justify-content-center pb-2">
        <p class="display-4">Entrevista #{{interview.id}}</p>
    </div>
    <div class="row">
        <div class="col-md-7 table-responsive">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Usuario</th>
                        <td><a target="_blank" [routerLink]="[ '/admin/usuario', interview.user.id ]">{{interview.user.email}}</a></td>
                    </tr>
                    <tr>
                        <th>Trabajo</th>
                        <td><a target="_blank" [routerLink]="[ '/trabajo/detalles']" [queryParams]="{id: interview.job.id}">{{interview.job.title}}</a></td>
                    </tr>
                    <tr>
                        <th>Estado</th>
                        <td>
                            <select class="form-control form-control-sm ml-2" name="status" [(ngModel)]="interview.status">
                                <option value="created">En negociación</option>
                                <option value="confirmed">Fijadas</option>
                                <option value="finished">Resueltas</option>
                                <option value="cancelled">Cancelada</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Fecha</th>
                        <td>
                           <ng-container *ngIf="changeDate == false; else changeDateT">
                                {{interview.date_interview | date:"short"}} <a class="d-flex float-right puntero" style="cursor: pointer;" (click)="changeDateF()">Cambiar fecha</a>
                           </ng-container>
                           <ng-template #changeDateT>
                                <input type="datetime-local" [(ngModel)]="interview.date_interview">
                           </ng-template>
                        </td>
                        
                    </tr>
                    <tr>
                        <th>Anotaciones</th>
                        <td>
                            <div class="form-group">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="interview.results"></textarea>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" (click)="pruebaPrint()">Guardar</button>
        </div>
        <div class="col-md-5 messages-box">
            <div class="messages scrollbar scrollbar-pink bordered-primary thin">
                <div class="row" *ngFor="let m of interview.messages">
                    <div class="col-12">
                        <ng-container *ngIf="authService.getUser().id == m.created_by; else elseTemplate">
                            <div class="card chatBox" style="width: 100%;font-size: 1rem;">
                                <div class="card-body">
                                  <h5 class="card-title" style="font-size: 1rem;">{{messageWho(m.created_by)}} <span class="float-right">{{m.created_at | date:"short"}}</span></h5>
                                  <hr>
                                  <p class="card-text">{{m.text}}</p>
                                </div>
                            </div>
                        </ng-container>
                        <ng-template #elseTemplate>
                            <div class="card chatBox1" style="width: 100%;font-size: 1rem;">
                                <div class="card-body">
                                  <h5 class="card-title -flex" style="font-size: 1rem;">{{messageWho(m.created_by)}} <span class="float-right">{{m.created_at | date:"short"}}</span></h5>
                                  <hr>
                                  <p class="card-text">{{m.text}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="row write-message-box mt-4 d-flex align-items-center">
                <div class="col-11">
                    <div class="form-group">
                        <textarea class="form-control newMessage" id="exampleFormControlTextarea2" rows="3" [(ngModel)]="newMessage"></textarea>
                    </div>
                </div>
                <div class="col-1">
                    <span class="material-icons sendIcon" style="color: skyblue;" (click)="addMessage()">
                        send
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>