<!-- <footer class="bg-dark text-white mt-auto">
    <div class="container-fluid py-2">
        <div class="row">
            Formas de Contacto..
        </div>
    </div>
</footer> -->
<!-- Footer -->
<footer class="page-footer bg-dark text-white font-small blue pt-4">

    <div class="container-fluid text-center text-md-left">
  
      <div class="row">
  
        <div class="col-md-6 mt-md-0 mt-3">
  
          <h5 class="text-uppercase">Contacta con Nosotros</h5>
          <p>Puedes ponerte en contacto con nosotros para resolver tus dudas, por Email y Teléfono.</p>
  
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <div class="col-md-3 mb-md-0 mb-3">
  
          <h5 class="text-uppercase">Emails</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">emp-service@email.com</a>
            </li>
            <li>
              <a href="#!">emp-operator@email.com</a>
            </li>
          </ul>
  
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
  
          <h5 class="text-uppercase">Cel/Tel Contac Number</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">43422645</a>
            </li>
            <li>
              <a href="#!">099426582</a>
            </li>
          </ul>
  
        </div>
      </div>
  
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="http://localhost:4200/home"> Empresa.com</a>
    </div>
  
  </footer>