<button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#jobsListModal"
>
  Trabajo
</button>

<div
  class="modal fade"
  id="jobsListModal"
  tabindex="-1"
  aria-labelledby="jobsListModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="jobsListModalLabel">Trabajos</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" name="searchText" (keyup) = "setSearchText($event)">
        <button (click)="searchJob()">Ok</button>
        <div class="row border border-bottom border-gray" *ngFor="let job of results; let i = index">
          <div class="col-9 overflow-auto">
            <a target="_blank" [routerLink]="[ '/trabajo/detalles']" [queryParams]="{id: job.id}">{{job.title}}</a>
          </div>
          <div class="col-3">
            <button type="button" class="btn btn-outline-primary" data-dismiss="modal" id="{{i}}" (click)="setJobId(i)"><span class="material-icons">
              check
              </span></button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-" data-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
