<div class="container py-4">
  <form [formGroup]="searchForm">
    <div class="row">
      <div class="col-lg-10 col-md-10">
        <input
          type="text"
          name="search"
          id="search"
          class="form-control"
          placeholder="Busca"
          aria-describedby="helpsearch"
          formControlName="search"
          (keyup)="searchTextRecomendations($event)"
          style="width: 100%"
        />
      </div>
      <div class="col-md-2">
        <button
          [routerLink]="['/trabajo']"
          [queryParams]="{
            search: searchForm.controls['search'].value,
            page: 1
          }"
          class="btn btn-primary"
          style="width: 100%"
        >
          Buscar
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <ul class="list-group">
          <li
            class="list-group-item list-group-item-action"
            id="recomendation{{ i }}"
            *ngFor="let job of jobsRecomendationList; let i = index"
            (click)="setSearchText($event)"
          >
            {{ job.title }}
          </li>
        </ul>
      </div>
    </div>
  </form>
</div>
<div class="container min-vh-100 mb-2">
  <div class="row">
    <div class="col-md-2 searchFilters">
      <span class="filterHeader">Filtros</span>
      <div class="form-group pt-3">
        <label for="workday">Jornada</label>
        <select
          class="form-control form-control-sm"
          name="workday"
          id="workday"
          [(ngModel)]="workdayFilter"
        >
          <option value="Cualquiera">Cualquiera</option>
          <option value="fulltime">Tiempo completo</option>
          <option value="parttime">Medio tiempo</option>
        </select>
      </div>
      <div class="form-group pt-3">
        <label for="salary">Salario</label>
        <input type="number" class="form-control" placeholder="Minimo" [(ngModel)]="salaryFilter">
      </div>
      <div class="form-group pt-3">
        <label for="remote">Remoto</label>
        <input name="remote" type="checkbox" [(ngModel)]="remoteFilter" class="ml-2">
        <br>
        <br>
        <label for="location">Ubicación</label>
        <input type="text" name="location" [(ngModel)]="locationFilter" class="ml-2 form-control" placeholder="Localidad">
      </div>
      <button
        [routerLink]="['/trabajo']"
        [queryParams]="{
          search: searchForm.controls['search'].value,
          page: 1,
          jornada: workdayFilter,
          salarioMin: salaryFilter,
          remote: remoteFilter
        }"
        class="btn btn-secondary mt-4 text-center"
      >
        Aplicar
      </button>
    </div>
    <div class="col-md-10">
      <div class="job-card" *ngFor="let job of lastResponse.results">
        <div class="row">
          <div class="col-md-2">
            <img
              src="{{ job.company.logo | imageReplacement }}"
              class="img-fluid"
            />
          </div>
          <div class="col-md-10">
            <div class="row ml-1 mt-1">
              <a [routerLink]="['detalles']" [queryParams]="{ id: job.id }">{{
                job.title
              }}</a>
            </div>
            <div class="row ml-1 py-2">
              <span>{{ job.company.name }}</span>
            </div>
            <div class="row ml-1 pb-2">
              <span>{{ job.location | remoteString }}</span>
            </div>
            <div class="row ml-1 pt-2">
              <span>{{ job.created_at | dayOrDays }}</span>
            </div>
          </div>
        </div>
      </div>
      <nav aria-label="..." class="d-flex justify-content-center">
        <ul class="pagination">
          <li class="page-item">
            <a
              class="page-link"
              [routerLink]="['/trabajo']"
              [queryParams]="{
                page: 1,
                search: searchForm.controls['search'].value,
                jornada: workdayFilter,
                remote: remoteFilter
              }"
              >Primera</a
            >
          </li>
          <li class="page-item">
            <a
              class="page-link"
              [routerLink]="['/trabajo']"
              [queryParams]="{
                page: previousPageNumber,
                search: searchForm.controls['search'].value,
                jornada: workdayFilter,
                remote: remoteFilter
              }"
              >Anterior</a
            >
          </li>
          <li class="page-item active" aria-current="page">
            <span class="page-link">
              {{ pageNumber }}
              <span class="sr-only">(current)</span>
            </span>
          </li>
          <li class="page-item">
            <a
              class="page-link"
              [routerLink]="['/trabajo']"
              [queryParams]="{
                page: nextPageNumber,
                search: searchForm.controls['search'].value,
                jornada: workdayFilter,
                remote: remoteFilter
              }"
              >Siguiente</a
            >
          </li>
          <li class="page-item">
            <a
              class="page-link"
              [routerLink]="['/trabajo']"
              [queryParams]="{
                page: lastPageNumber,
                search: searchForm.controls['search'].value,
                jornada: workdayFilter,
                remote: remoteFilter
              }"
              >Ultima</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
