.list-group-item-action{
  // z-index: 1;
  // position: absolute;
  position: relative;
    display: block;
    padding: 0px 15px; /* adjust here */
    margin-bottom: -1px;
    border: 1px solid #ddd;
    line-height: 1em /* set to text height */
 }
.list-group-item-action:hover{
    cursor: pointer;
}

.searchFilters {
}


///////////////////
.header-menu ul li {
    display: inline-block;
    vertical-align: middle;
  }
  
  .search-wrap {
    width: 175px;
    position: relative;
    height: 27px;
    vertical-align: middle;
    display: inline-block;
  }
  
  .search {
    border: 1px solid #ccc;
    padding: 5px 7px;
    margin-left: 15px;
    width: 175px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .search:focus {
    width: 225px;
  }

/////////////////////
.filterHeader {
    font-size: 2rem;
}

.job-card {
    a {
        color: rgb(141, 141, 141);
        font-size: 1.5rem;
    }
    span {
        font-size: 1rem;
    }
    border: 0.1rem;
    border-style: solid;
    border-radius: 0.2rem;
    border-color: rgb(182, 182, 182);
    padding: 1rem;
    margin-bottom: 0.7rem;
}