.addButton {
    :hover {
        cursor: pointer;
    }
}

.removeButton {
    :hover {
        cursor: pointer;
    }
}

.sectionCu {
}

.selectedItem:hover {
    background-color: rgba($color: #eeeeee, $alpha: 1.0);
    border-radius: 0.5rem;
}