<app-message-alert
  [show]="alert.show"
  [msg]="alert.msg"
  (click)="alert.show = false"
  [errorCode]="alert.errorCode"
></app-message-alert>
<ng-container *ngIf="curriculumExists === false; else elseTemplate">
  <div
    class="container min-vh-100 d-flex justify-content-center align-items-center"
  >
    <div class="jumbotron text-center">
      <span class="display-4">Aún no has subido tu currículum!</span>
      <p class="lead mt-5">
        Si subes tu currículm podrás postularte a ofertas de trabajo y los
        funcionarios de la plataforma podrán ver tus datos y asignarte
        entrevistas!
      </p>
      <p class="lead mt-5">
        <a
          class="btn btn-primary btn-lg"
          role="button"
          (click)="curriculumExists = true"
          >Sube tu currículum</a
        >
      </p>
    </div>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <div
    class="container min-vh-100 d-flex justify-content-center align-items-center"
  >
    <div class="container min-vh-100">
      <div class="row d-flex justify-content-center py-2">
        <p class="display-4 loginText">Currículum</p>
      </div>
      <div class="row d-flex justify-content-center pb-3">
        <p>Los campos señalados con el símbolo <strong>*</strong> son obligatorios.</p>
      </div>
      <div class=" p-2 form-group rounded sectionCu">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="name">Nombre*</label>
            <input
              type="text"
              class="form-control"
              id="name"
              [(ngModel)]="curriculum.name"
            />
          </div>
          <div class="form-group col-md-3">
            <label for="birthDate">Fecha de nacimiento*</label>
            <input
              type="date"
              class="form-control"
              id="birthDate"
              [(ngModel)]="curriculum.birth_date"
            />
          </div>
          <div class="form-group col-md-3">
            <label for="phone">Teléfono*</label>
            <input
              type="number"
              class="form-control"
              id="phone"
              [(ngModel)]="curriculum.phone"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="address">Dirección*</label>
            <input
              type="text"
              class="form-control"
              id="address"
              [(ngModel)]="curriculum.address"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="country">País*</label>
            <input
              type="text"
              class="form-control"
              id="country"
              [(ngModel)]="curriculum.country"
            />
          </div>
        </div>
        <div class="form-row rounded sectionCu">
          <div class="form-group col-md-8">
            <br>
            <label for="description">Descripción</label>
            <textarea
              class="form-control"
              id="description"
              [(ngModel)]="curriculum.description"
              style="min-height: 200px;"
            ></textarea>
          </div>
          <div class="form-group col-md-4">
            <div class="form-row ">
              <div class="col-md-12 text-center" style="padding-top: 20px;padding-bottom:.5rem; inline-block;">
                Imagén de perfil
              </div>
              <div class="col-md-12 form-group d-flex justify-content-center">
                <ng-container *ngIf="url !== null && url !== 'data:image/png;base64,null' && url !== 'data:image/png;base64,'; else elseTemplateImage">
                  <img
                    src="{{ url}}"
                    height="200"
                    width="200"
                  />
                </ng-container>
                <ng-template #elseTemplateImage>
                  <img
                    src="{{url | imageReplacementCurriculumEdit}}"
                    height="200"
                    width="200"
                  />
                </ng-template>
                
              </div>
            </div>
            <br>
            <div class="form-row d-flex justify-content-center">
              <div class="col-md-4 form-group">
                <input
                  type="file"
                  class="form-control-file"
                  id="avatar"
                  (change)="onFileChanged($event)"
                  style="visibility: hidden;"
                />
                <label class="custom-file-label" for="avatar">Imagen</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <br>
        <div class="border-bottom border-secondary my-4"></div>
        <div class="col-form-label text-center">
          <span class="h5" style="color: rgb(253, 55, 82);font-size: 1.2rem;">Educación</span>
        </div>
        <div class="form-group">
          <div class="form-row">
            <ng-container
              *ngFor="let item of curriculum.education; let i = index"
            >
              <div
                class="col-md-12 pt-3 d-flex justify-content-end removeButton"
              >
                <span class="material-icons text-danger" (click)="removeEducation(i)"> clear </span>
                <!-- {{ i }} -->
              </div>
              <div class="form-group col-md-6">
                <label for="educationName{{ i }}">Nombre*</label>
                <input
                  type="text"
                  id="educationName{{ i }}"
                  class="form-control"
                  [(ngModel)]="curriculum.education[i].name"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="educationPlace{{ i }}">Lugar*</label>
                <input
                  type="text"
                  id="educationPlace{{ i }}"
                  class="form-control"
                  [(ngModel)]="curriculum.education[i].place"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="educationStart{{ i }}">Inicio*</label>
                <input
                  type="date"
                  id="educationStart{{ i }}"
                  class="form-control"
                  [(ngModel)]="curriculum.education[i].start_date"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="educationEnd{{ i }}">Finalización</label>
                <input
                  type="date"
                  id="educationEnd{{ i }}"
                  class="form-control"
                  [(ngModel)]="curriculum.education[i].end_date"
                />
              </div>
            </ng-container>
          </div>
        </div>
        <span
          class="d-flex justify-content-center addButton"
          (click)="addEducation()"
        >
          <span class="badge badge-pill badge-success" style="font-size: 1.2rem; background-color: rgb(253, 55, 82);">Añadir campo</span>
        </span>
        <div class="border-bottom border-secondary my-4"></div>
        <br>
        <div class="col-form-label text-center">
          <span class="h5 text-success" style="font-size: 1.2rem;">Experiencia laboral</span>
        </div>
        <div class="mb-4 form-group">
          <div class="form-row">
            <ng-container
              *ngFor="let item of curriculum.workexperience; let i = index"
            >
              <div
                class="col-md-12 pt-3 d-flex justify-content-end removeButton"
              >
                <span class="material-icons text-danger" (click)="removeWorkexperience(i)"> clear </span>
                <!-- {{ i }} -->
              </div>
              <div class="form-group col-md-6">
                <label for="workexperienceName{{ i }}">Nombre*</label>
                <input
                  type="text"
                  id="workexperienceName{{ i }}"
                  class="form-control"
                  [(ngModel)]="curriculum.workexperience[i].name"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="workexperiencePlace{{ i }}">Ocupación*</label>
                <input
                  type="text"
                  id="workexperiencePlace{{ i }}"
                  class="form-control"
                  [(ngModel)]="curriculum.workexperience[i].ocupation"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="workexperienceStart{{ i }}">Inicio*</label>
                <input
                  type="date"
                  id="workexperienceStart{{ i }}"
                  class="form-control"
                  [(ngModel)]="curriculum.workexperience[i].start_date"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="workexperienceEnd{{ i }}">Finalización</label>
                <input
                  type="datetime-local"
                  id="workexperienceEnd{{ i }}"
                  class="form-control"
                  [(ngModel)]="curriculum.workexperience[i].end_date"
                  
                />
              </div>
            </ng-container>
          </div>
        </div>
        <span
          class="d-flex justify-content-center addButton"
          (click)="addWorkexperience()"
        >
          <span class="badge badge-pill badge-success" style="font-size: 1.2rem;">Añadir campo</span>
        </span>
        <div class="border-bottom border-secondary my-4"></div>
        <div class="col-form-label text-center">
          <span class="h5" style="color: rgb(0, 94, 131);font-size: 1.2rem;">Idiomas</span>
        </div>
        <div class="p-2 form-group rounded">
          <div class="form-row d-flex justify-content-center">
            <ng-container
              *ngFor="let item of curriculum.languages; let i = index"
            >
              <div class="selectedItem col-md-6 my-2 mx-2">
                <div
                  class="col-md-12 pt-3 d-flex justify-content-end removeButton"
                >
                  <span class="material-icons text-danger" (click)="removeLanguages(i)"> clear </span>
                  <!-- {{ i }} -->
                </div>
                <div class="form-group col-md-12">
                  <label for="languagesName{{ i }}">Idioma*</label>
                  <input
                    type="text"
                    id="languagesName{{ i }}"
                    class="form-control"
                    [(ngModel)]="curriculum.languages[i].name"
                  />
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <span
          class="d-flex justify-content-center addButton"
          (click)="addLanguages()"
        >
          <span class="badge badge-pill badge-success" style="font-size: 1.2rem;background-color: rgb(0, 94, 131);">Añadir campo</span>
        </span>
        <br>
        <div class="border-bottom border-secondary my-4"></div>
        <div class="col-form-label text-center">
          <span class="h5" style="color: rgb(174, 0, 255);font-size: 1.2rem;">Categorias de interés</span>
        </div>
        <!-- <div class="col-12 mt-2" style="height: 0.2rem;background-color: rgb(174, 0, 255);"></div> -->
        <div class="p-2 form-group rounded sectionBg" >
          <div class="form-row d-flex justify-content-center">
            <ng-container
              *ngFor="let item of curriculum.categories; let i = index"
            >
              <div class="col-md-6 my-2 mx-2 selectedItem" >
                <div
                  class=" pt-3 d-flex justify-content-end removeButton"
                >
                  <span class="material-icons text-danger" (click)="removeCategories(i)"> clear </span>
                  <!-- {{ i }} -->
                </div>
                <div class="form-group">
                  <label for="categoriesName{{ item.category.id }}">Categoría*</label>
                  <select id="categoriesName{{ item.category.id }}" class="form-control" [(ngModel)]="curriculum.categories[i].category.id">
                    <ng-container *ngFor="let cat of categoriesList">
                      <ng-container *ngIf="cat.id === item.category.id; else categorieFalse">
                        <option value="{{cat.id}}" selected>{{ cat.name | categoriesNames}}</option>
                      </ng-container>
                      <ng-template #categorieFalse>
                        <option value="{{cat.id}}">{{ cat.name | categoriesNames}}</option>
                      </ng-template>
                    </ng-container>
                  </select>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <!-- <div class="col-12 mb-2" style="height: 0.2rem;background-color: rgb(174, 0, 255);"></div> -->
        <span
          class="d-flex justify-content-center addButton"
          (click)="addCategories()"
        >
          <!-- <span class="material-icons text-primary"> add </span> -->
          <span class="badge badge-pill badge-success" style="font-size: 1.2rem;background-color: rgb(174, 0, 255);">Añadir campo</span>
        </span>
        <br>
        <div class="border-bottom border-secondary my-4"></div>
      </div>
      <span class="d-flex justify-content-center mb-3">
        <button
          type="submit"
          class="btn btn-primary"
          (click)="submitCurriculum()"
        >
          Subir currículum
        </button>
      </span>
    </div>
  </div>
</ng-template>