<div class="container-fluid min-vh-100">
  <div class="row d-flex justify-content-center perCategory">
    <p class="display-4 pt-3 text-white">Trabajos por categoría</p>
    <div class="col-12 d-flex justify-content-center">
      <ngx-charts-pie-grid
      (window:resize) = "onResizePerCategory($event)"
      [view]="viewPerCategory"
      [results]="results['jobsPerCategoryCount']"
      >
      </ngx-charts-pie-grid>
    </div>
  </div>
  <div class="row d-flex justify-content-center applicationsXInterviews">
    <p class="display-4 pt-3">Postulaciones vs Entrevistas</p>
    <div class="col-12 d-flex justify-content-center">
      <ngx-charts-line-chart
      (window:resize) = "onResizePerCategory($event)"
      [view]="viewPerCategory"
      [scheme]="colorSchemeAxI"
      [legend]="legendAxI"
      [showXAxisLabel]="showXAxisLabelAxI"
      [showYAxisLabel]="showYAxisLabelAxI"
      [xAxis]="xAxisAxI"
      [yAxis]="yAxisAxI"
      [xAxisLabel]="xAxisLabelAxI"
      [yAxisLabel]="yAxisLabelAxI"
      [timeline]="timelineAxI"
      [results]="applicationsXInterviews"
      >
      </ngx-charts-line-chart>
    </div>
  </div>
  <div class="row d-flex justify-content-center popularSearches">
    <p class="display-4 pt-3 text-white">Búsquedas populares en los últimos 30 días</p>
    <div class="col-12 d-flex justify-content-center">
      <ngx-charts-number-card
      (window:resize) = "onResizePerCategory($event)"
      [view]="viewPerCategory"
      [results]="popularSearches"
      >
      </ngx-charts-number-card>
    </div>
  </div>
</div>