<app-message-alert [show]="alert.show" [msg]="alert.msg" (click)="alert.show = false"></app-message-alert>
<div class="container flex-grow min-vh-100 d-flex justify-content-center">
  <div class=" my-auto">
    <div class="row d-flex justify-content-center py-3">
      <img src="https://via.placeholder.com/150" alt="" srcset="">
    </div>
    <div class="row d-flex justify-content-center pb-2">
      <p class="display-4 loginText">Accede</p>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          placeholder="Email"
          aria-describedby="emailHelp"
          formControlName="email"
          [ngClass]="{
            'is-invalid':
              !registerLoginControl.email.valid &&
              registerLoginControl.email.touched
          }"
        />
        <small id="emailHelp" class="text-muted"
          >Escribe tu dirección de email</small
        >
        <div
          *ngIf="
            registerLoginControl.email.errors?.required &&
            registerLoginControl.email.touched
          "
          class="invalid-feedback"
        >
          Campo requerido
        </div>
        <div
          *ngIf="
            registerLoginControl.email.errors?.email &&
            registerLoginControl.email.touched
          "
          class="invalid-feedback"
        >
          El email no tiene formato correcto
        </div>
        <div
          *ngIf="
            registerLoginControl.email.errors?.emailNotAvailable &&
            registerLoginControl.email.touched
          "
          class="invalid-feedback"
        >
          El email no esta registrado en el sistema
        </div>
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          placeholder="Contraseña"
          aria-describedby="passwordHelp"
          formControlName="password"
          [ngClass]="{
            'is-invalid':
              !registerLoginControl.password.valid &&
              registerLoginControl.password.touched
          }"
        />
        <small id="passwordHelp" class="text-muted"
          >Escribe tu contraseña</small
        >
        <div
          *ngIf="
            registerLoginControl.password.errors?.required &&
            registerLoginControl.password.touched
          "
          class="invalid-feedback"
        >
          Campo requerido
        </div>
        <div
          *ngIf="
            registerLoginControl.password.errors?.invalidPassword &&
            registerLoginControl.password.touched
          "
          class="invalid-feedback"
        >
          <ul>
            <li>Minimo 8 caracteres</li>
            <li>Minimo 1 minuscula</li>
            <li>Minimo 1 mayuscula</li>
            <li>Minimo 1 numero</li>
          </ul>
        </div>
      </div>
      <span class="d-flex justify-content-center py-2">
        <button type="submit" class="btn btn-primary">Entrar</button>
      </span>
      <span class="d-flex justify-content-center py-3">
        <small>
          ¿Aún no tienes cuenta?
          <a [routerLink]="['/registro']">Regístrate</a>
          .
        </small>
      </span>
    </form>
  </div>
</div>
