.iFields {
    font-size: 1.5rem;
  }
  
  .messages-box {
    .material-icons:hover {
      cursor: pointer;
    }
    .messages {
      overflow-y: scroll;
      height: 50vh;
    }
  }

  .job-card {
    a {
        color: rgb(141, 141, 141);
        font-size: 1.5rem;
    }
    span {
        font-size: 1rem;
    }
    border: 0.1rem;
    border-style: solid;
    border-radius: 0.2rem;
    border-color: rgb(182, 182, 182);
    padding: 1rem;
    margin-bottom: 0.7rem;
}