<app-message-alert [show]="alert.show" [msg]="alert.msg" (click)="alert.show = false" [errorCode]="alert.errorCode"></app-message-alert>
<div class="container min-vh-100">
  <br>
    <div class="row d-flex justify-content-center pb-2">
        <img
            src="{{ company.logo | imageReplacementCompanyDetails }}"
            class="img-fluid"
        />
    </div>
    <div class="row">
        <div class="col-md-7 table-responsive">
          <h2>Trabajos publicados</h2>
          <div class="jobs scrollbar scrollbar-pink bordered-primary thin">
            <div class="job-card" *ngFor="let job of company.jobs">
              <div class="row">
                  <div class="card-body">
                    <a target="_blank" [routerLink]="[ '/trabajo/detalles' ] " [queryParams]="{id: job.id}">{{job.title}}</a>
                    <h6 class="card-subtitle mb-2 text-muted">{{job.location}}</h6>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <h2>Calificaciones</h2>
            <div>
                <div class="ratings" *ngFor="let r of company.ratings">
                    <div style="width: 100%;">
                        <div class="card-body">
                          <h5 class="card-title">{{r.user_id}}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">{{r.created_at | date:"short"}}</h6>
                          <p class="card-text">Calificacion: {{r.score}}</p>
                          <p class="card-text">{{r.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row write-message-box mt-4">
                <div class="col-11">
                    <div class="form-group">
                        <h3>Añade tu calificacion</h3>
                        <div class="rate">
                          <input type="radio" id="star5" name="rate" value="5" [(ngModel)]="rating"/>
                          <label for="star5">5 stars</label>
                          <input type="radio" id="star4" name="rate" value="4" [(ngModel)]="rating"/>
                          <label for="star4">4 stars</label>
                          <input type="radio" id="star3" name="rate" value="3" [(ngModel)]="rating"/>
                          <label for="star3">3 stars</label>
                          <input type="radio" id="star2" name="rate" value="2" [(ngModel)]="rating"/>
                          <label for="star2">2 stars</label>
                          <input type="radio" id="star1" name="rate" value="1" [(ngModel)]="rating"/>
                          <label for="star1">1 star</label>
                        </div>
                        <textarea class="form-control" id="exampleFormControlTextarea2" rows="3" [(ngModel)]="mensaje"></textarea>
                    </div>
                </div>
                <div class="col-1">
                    <span class="material-icons" style="color: skyblue;" (click)="addRating()">
                        send
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>